service_account_key_file = "/home/albert/key.json"
cloud_id                 = "b1gaslm0fu2ku0g2r15p"
folder_id                = "b1g61dhh7pq83pa88529"
zone                     = "ru-central1-a"
image_id                 = "fd8amk7ch9bprn3mq4ge"
subnet_id                = "e9b1rl4auru7vjpuuu65"
private_key_path         = "~/.ssh/appuser"
public_key_path          = "~/.ssh/appuser.pub"
app_disk_image           = "fd8amk7ch9bprn3mq4ge"
db_disk_image            = "fd8amk7ch9bprn3mq4ge"
